@charset "UTF-8";

.cart-info{
	
}

.text-align-center{
	text-align: center;
	align-content: center;
}

.cart-info>div{
	height : 50px;
	line-height: 50px;
	color :black;
	font-weight: bold;
	font-size: 24px;
	border-top: 2px solid #B1B1B1;
	border-bottom: 2px solid #B1B1B1;
}